# Mobile App (React Native) 
node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python Backend
venv/
.venv/
.env
__pycache__/
*.py[cod]
*$py.class

# System/Editor Junk
.vscode/
Thumbs.db
.DS_Store